html {
    scroll-behavior: smooth;
}

#wrapper {
    overflow-x:hidden;
    position: relative;
}

body {
    font-family: "PingFang TC", "Microsoft JhengHei", sans-serif !important;
    margin: 0;
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
}

/*full screen bg*/
#top {
    height: 100vh;
    background-color: #71645E;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
}

#top > img {
    position: absolute;
}

#word {
    bottom: -58vh;
    left: 10vw;
    z-index: 5;
    width: 55vw;
    position: relative !important;
}

#bottom {
    width: 151vw;
    top: 56vh;
    z-index: 1;
    left: -26vw;
}

#pc {
    width: 97vw;
    left: 28vw;
    top: 14vw;
}


/*main*/
#main {
    background: url(https://res.cloudinary.com/djbhhlpqm/image/upload/v1616336395/m/img/bg/main_touo1i.png) center fixed;
}

img {
    width: auto;
    height: auto;
    position: relative;
}

/*content*/
/*what*/
.deco {
    left: 50%;
    position: absolute;
    z-index: 0;
    transform: translateX(-50%);
    width: 120%;
    margin-top: 7vh;
}

.content {
    width: 100%;
    height: 100%;
    z-index: 2;
}

#what_word {
    color: #514C43;
    margin-bottom: 0 !important;
    font-size: 3.5vw;
}

.what_text {
    position: relative;
    float: left;
    z-index: 1;
    top: 12vw;
    left: 52vw;
    transform: translateX(-50%);
}

/*feature*/
#fthr {
    margin-top: -27vw;
}

.deco_2 {
    z-index: 0;
    left: 50%;
    margin-top: 14vw;
    overflow: hidden;
    position: absolute;
    transform: translateX(-50%);
    width: 95%;
}

.ver_text {
    writing-mode: vertical-lr;
}

.feature {
    -webkit-text-stroke: 0.2vw #736357;
    left: 34vw;
    bottom: 12vw;
    color: transparent;
    position: relative;
    z-index: 1;
    letter-spacing: 5vw;
    font-size: 7.5vw;
}

.feature::before {
    position: absolute;
    content: "本屆特色";
    color: transparent;
    -webkit-text-stroke: 0.2vw #534741;
    transform: translateY(-68%);
    z-index: -1;
}

.feature::after {
    position: absolute;
    content: "本屆特色";
    color: transparent;
    -webkit-text-stroke: 0.2vw #998675;
    transform: translate(-100%, 68%);
}

.first_try {
    position: relative;
    letter-spacing: 1.558vh;
    font-weight: 100;
    color: #534741;
    top: 19vw;
    left: 18vw;
    font-size: 7.3vw;
    font-family: "PingFang TC", serif;
}

.ftnc {
    position: relative;
    letter-spacing: 0.8vw;
    left: 44vw;
    bottom: 5vw;
}

#nc {
    top: 1.5vh;
    left: 26vw;
    color: #534741;
    font-size: 4.6vw;
    position:absolute;
}


/*sdgs*/
.deco_3 {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    margin-top: -10vw;
    left: -5vw;
    width: 113%;
}

#theme > div:nth-child(2) {
    right: 3vw;
    position: relative;
}

.this_theme {
    font-size: 6vw;
    position: relative;
    color: #736357;
    left: 22.5vw;
	letter-spacing: 3vw;
    top: 1vw;
}

.this_theme::before {
    position: absolute;
    content: "本屆主題";
    color: transparent;
    -webkit-text-stroke: 0.1vw #736357;
    transform: translate(-55%, -7.5%);
    z-index: 0;
}

.sdgs {
    position: relative;
    color: #534741;
    font-weight: 600;
    font-family: "source-han-serif-tc", serif;
    letter-spacing: 1.7vw;
    font-size: 5vw;
    left: 39vw;
    bottom: 30vw;
}

#sdgs_spe {
    margin-left: 12vw;
}

#hor_line_1 {
    width: 43vw;
    left: 46vw;
    top: -28.5vw;
}

#hor_line_2 {
    width: 45vw;
    left: 32vw;
    bottom: 48vw;
}

#earth {
    bottom: 26vw;
    left: -38vw;
    width: 17vw;
}

#earth_q {
    left: 28vw;
    width: 68vw;
    bottom: 46vw;
}

#theme {
    margin-top: 18vw;
}

/*method*/
#method {
    z-index: 5;
    margin-top: -19vw;
    position: relative;
}

.deco_4 {
    width: 110vw;
    margin-top: -19vw;
    overflow: hidden;
    position: absolute;
    z-index: 0;
}

#method_title {
    top: -5vw;
    width: 33vw;
    left: -2.6vw;
}

.method_word {
    text-align: center;
}

.method_word > span {
    color: #965551;
}

#method > .content {
    display: inline;
}

.only_web {
    color: #534741;
    position: relative;
    font-size: 3.6vw;
    left: 38vw;
    bottom: 43vw;
}

.only_web > span {
    left: 12vw;
    position: relative;
    font-size: 6.6vw;
    -webkit-text-stroke: .3vw #998675;
    color: transparent;
    font-family: "source-han-serif-tc",serif;
}

.this_method {
    color: #324658;
    font-size: 5vw;
    letter-spacing: 2vw;
    position: relative;
    text-indent: 3vw;
    right: 1.3vw;
    margin-bottom: 2vh;
}

.only_web::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 42%;
    transform: translateX(-141%);
    background-color: #534741;
    height: 0.2vw;
}

.only_web {
    font-size: 4vw;
    letter-spacing: 0.6vw;
    color: #534741;
}

#basic_logo {
    width: 16vw;
    bottom: 40vw;
    left: 39vw;
}

#adv_logo {
    width: 16vw;
    bottom: 40vw;
    left: 43vw;
}

.method_word {
    color: #514C43;
    font-size: 2.1vw;
    letter-spacing: 1vw;
    line-height: 7vh;
}

.method_detail {
    position: relative;
    letter-spacing: 0.036em;
    font-style: normal;
    color: #534741;
    font-size: 4.6vw;
    left: 6vw;
    bottom: 33vw;
}

.method_detail::before {
    content: "";
    position: absolute;
    background-color: #736357;
    transform: translateX(-100%);
    bottom: 3px;
    left: -1vw;
    width: 0.9vw;
    height: 11vw;
}

.method_declear {
    font-size: 2.5vw;
    position: relative;
    color: #514C43;
    letter-spacing: 0.144em;
    left: 12vw;
    bottom: 39vw;
}


/*special*/
#special {
    margin-top: 26vw;
    z-index: 7;
    position: relative;
    padding-bottom: 62vw;
}

.cent {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.deco_5 {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    margin-top: 5vw;
    right: -6vw;
    width: 113vw;
}

#spe_title {
    font-size: 7.3vw;
	letter-spacing: 1vw;
    font-weight: 700;
    color: #736357;
    z-index: 2;
}

#spe_title_tr {
    font-size: 7.3vw;
    font-weight: 700;
	letter-spacing: 1vw;
    color: transparent;
    top: 2vw;
    -webkit-text-stroke: 0.05vw #998675;
}

#spe_line {
    background-color: #534741;
    position: relative;
    width: 50vw;
    height: .2vw;
    left: 25vw;
    top: 11vw;
}

#spe_title_deco {
	width: 32vw;
	top: -3vw;
    z-index: 10;
}

#spe_price_list {
    top: 13vw;
    width: 83vw;
}

#spe_declear {
    font-size: 2.3vw;
    top: 36vw;
    left: 23vw;
    position: absolute;
    width: 100%;
    color: #534741;
}

#spe_price {
    width: 100%;
    text-align: center;
    top: -19vw;
    color: #534741;
}

#spe_price > p:nth-child(1) {
    letter-spacing: 0.459vw;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 5.5vw;
}

#spe_price > p:nth-child(2) {
    margin-top: 0;
    font-size: 3.4vw;
    letter-spacing: 0.035vw;
    font-weight: 800;
    margin-bottom: 0;
}

#spe_price > p:nth-child(3) {
    margin-top: 0;
    font-size: 1.9vw;
}

#spe_first {
    font-size: 1.6vw;
    left: 14vw;
    transform: none;
    color: #534741;
    top: 86vw;
}

#spe_first > p:nth-child(1) {
    font-weight: 700;
    color: #736357;
    margin-bottom: 0;
    font-size: 6.1vw;
    top: -1vw;
    position: relative;
}

#spe_first > p:nth-child(2) {
    margin-bottom: 0;
    font-size: 3vw;
    margin-top: 0;
    letter-spacing: 0.035em;
    line-height: 3.7vw;
}

#spe_first::before {
    content: "";
    height: 22vw;
    position: absolute;
    bottom: 0;
    transform: translateX(-100%);
    left: -2.6vw;
    width: 1.0vw;
    background-color: #736357;
}

/*celebrity*/
#people {
    margin-top: -24vw;
}

.deco_un {
    width: 106%;
    right: 2vw;
    overflow: hidden;
    position: absolute;
    z-index: 0;
}

#celebrity_word {
    margin-left: 5vw;
}

#ce_title {
    color: transparent;
    -webkit-text-stroke: 0.1vw #998675;
    font-size: 6.8vw;
    font-weight: 900;
    letter-spacing: 1.69vw;
    bottom: 51vw;
}

#ce_title::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 118%;
    transform: translateX(7%);
    background-color: #534741;
    height: 0.2vw;
}

#peo_title_deco {
    bottom: 52vw;
    width: 36vw;
}

#ce_name {
    font-size: 3.6vw;
    letter-spacing: 0.983vw;
    color: #534741;
    left: 36vw;
    position: relative;
    font-family: "source-han-serif-tc", serif;
    font-weight: 500;
    bottom: 19vw;
    line-height: 4.9vw;
}

#ce_name > span {
    letter-spacing: 2vw;
    font-size: 6vw;
}

#ce_quote {
    font-size: 2.3vw;
    color: #514C43;
    margin-top: 3vh;
    margin-left: 0.7vw;
    letter-spacing: 1.5vw;
}

#tf_pic {
    left: 8vw;
    width: 30vw;
    top: 19vw;
}

#tf_quote {
    width: 48vw;
    bottom: 16vw;
    left: 36vw;
}

#ce_title_tr {
    color: #736357;
    font-size: 6.8vw;
    font-weight: 900;
    letter-spacing: 1.69vw;
    bottom: 52.5vw;
}

/*price*/
.deco_6 {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    width: 106%;
    left: 3vw;
}

#price {
    padding-bottom: 60vw;
    margin-top: 24vw;
}

#price > .content {
    top: -8vh;
}

#price_adv > img,#price_bas > img {
    width: 20vw;
}

.p_title {
    font-size: 5.7vw;
    color: #736357;
    font-weight: 900;
    font-family: "source-han-serif-tc", serif;
    left: 45vw;
    position: relative;
    transform: translateX(-31%);
    letter-spacing: 1.274vw;
}

.p_title::before {
    content: attr(data-content);
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 0.05vw #998675;
    transform: translateY(-45%);
    z-index: -1;
}

.p_title::after {
    content: "";
    position: absolute;
    height: 0.2vw;
    background-color: #736357;
    width: 73vw;
    transform: translate(-22vw,9vw);
}

#price_adv {
    margin-top: 3vw;
    width: 72vw;
}

#price_basic {
    margin-top: 3vw;
    width: 72vw;
}

#p_bas {
    top: 42.1vw;
    position: relative;
}

#p_adv {
    top: 9vw;
    position: relative;
}

#price_special {
    top: 45vw;
    width: 70vw;
}

#p_bas > div:nth-child(1) {
    margin-top: 3vw;
}


/*rule*/
.deco_rule {
    right: 19.3vw;
    width: 85vw;
    overflow: hidden;
    position: absolute;
    z-index: 0;
}

#rule_title {
    color: #736357;
    font-weight: 900;
    font-size: 6vw;
    letter-spacing: 0.474vw;
    position: relative;
    left: 50%;
    top: 11vw;
    transform: translateX(-13%);
}

#rule_par {
    width: 27vw;
    position: absolute;
    top: 27.5vw;
    transform: translateX(-108%);
}

#rule_line_2 {
    top: 41.5vw;
    z-index: 10;
    width: 7.7vw;
    transform: translateX(-29%);
}

#rule_judge {
    /* width: 10vw; */
    width: 27vw;
    position: absolute;
    top: 27.5vw;
    transform: translateX(20%);
}

#rule_title::before {
    position: absolute;
    content: "評分標準";
    color: transparent;
    -webkit-text-stroke: 0.05vw #C7B299;
    transform: translateY(-39%);
    z-index: -1;
}

#rule_title::after {
    position: absolute;
    content: "評分標準";
    transform: translate(-100%, 2.9vw);
    z-index: -2;
    color: transparent;
    -webkit-text-stroke: 0.05vw #998675;
}

#rule_line {
    width: 44vw;
    background-color: #736357;
    height: 0.2vw;
    top: 14vw;
    position: relative;
    left: 29vw;
}

/*schedule*/
#schedule {
    padding-bottom: 55vw;
    margin-top: 56vw;
}

.deco_sche {
    width: 115vw;
    right: 9vw;
}

#sche_title {
    bottom: 64vw;
    width: 48vw;
}

.sche_item {
    width: 23vw;
    top: -61vw;
    left: 48vw;
}

#d1 {
    left: 21vw;
}

#d3 {
    left: 79vw;
    width: 25vw;
}

/*form*/
#form {
    margin-top: -4vw;
}

#form > div:nth-child(2) {
    position: relative;
    top: -56vw;
}

.deco_form {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: -2.5vw;
    width: 9vw;
    bottom: 85vw;
}

#form_button {
    top: 41vw;
    width: 32vw;
}

#reg_date {
    width: 65vw;
    top: 18vw;
}

/*footer*/

/* unvisited link */
a:link {
    color: white;
}
/* visited link */
a:visited {
    color: white;
}
/* mouse over link */
a:hover {
    color: white;
}
/* selected link */
a:active {
    color: white;
}

footer {
    font-family: "source-han-serif-tc", serif;
    background-color: #736357;
    color: white;
    font-size: 2.2vw;
}
footer > div {
    padding-top: 5vw;
}
footer > div > span {
    margin-left: 5vw;
    bottom: 1vw;
    position: relative;
}

#link {
    text-align: center;
    padding-top: 5vw;
    font-family: sans-serif;
    font-size: 2.2vw;
}

#ig_link {
    width: 16vw;
}
#fb_link {
    width: 40vw;
    margin-left: 4vw;
}

#md_link {
    width: 16vw;
}

#teach {
    width: 35vw;
}

#sponsors_img {
    width: 75vw;
}

#contact {
    color: white;
    font-size: 1.6vw;
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 3vw;
}

#sponsor > span:nth-child(1) {
    bottom: 2.5vw;
}

#license {
    font-size: 1.5vw;
    padding-top: 0;
    padding-bottom: 2vw;
    text-align: center;
}