#nav {
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#main_logo {
    height: 41px;
}

#nav #Links {
    display: none;
}

#nav > a:nth-child(1) {
    padding-bottom: 0;
    padding-top: .5vh;
}

#nav a {
    color: #483937 !important;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-weight: bolder;
}

#nav a.icon {
    color: #fff !important;
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

#nav a:hover {
    background-color: #ddd;
    color: black;
}